html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-image: url(./assets/images/pizza.jpg);
  background-size: cover;
}

div#root {
  width: 100%;
  display: inline-block; /* avoid margins to collapse to avoid vertical scrollbar */
}
